/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
  color: #333;
}

a {
  text-decoration: none;
  color: #777;
}

ul {
  margin: 0px;
  padding: 0px;
}

// Text
.nav-section-title {
  padding: 15px 15px;
  margin: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #ACACAC;
  text-shadow: 0 1px #fff;
  letter-spacing: 0.2em;
  font-weight: 300;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 #e7e7e7;

  background: #f7f7f7;
}

// Layout
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after { clear:both; }

.wrapper {
  width: 100%;
  background-color: #e5e5e5;
}

.content {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.playbar { width: 100%; height: 24px; background-color: #222; position: relative; margin: -3px 0 0 0;
	.playhead { text-indent: -9999px; display: block; width: 2px; height: 24px; background: #FFF; position: absolute; top: 0; left: 0; }
}

#player {
  width: 0px;
  height: 0px;
}

.list {
  list-style: none;
  padding: 0;
  a {
    width: 100%;
    display: inline-block;
  }
	img { max-width: 64px;
  }

  a.button {
    float: right;
    top: 0;
    height: 100%;
    background-color: #FFF;
    color: #949494;
    text-align: center;
    font-weight: bold;
  }

  &.albums {
    border-bottom: 1px solid #ccc;
  }
}

.list a {
  padding: 6px 0px;
}

.list img {
  vertical-align: -140%;
}

.main {
  background-color: #FFF;
  margin: 24px 0;
}

.player-controls {
  background-color: #333;
  text-align: center;
  color: #FFF;
  img {
    width: 100%;
  }
}

.player-controls-area {
  background-color: #222;
  text-align: center;
  padding: 24px;
  a {
    height: 40px;
    width: 40px;
    color: white;
    display: inline-block;
    background: image-url('play-icon.png') no-repeat;
    text-indent: -30000px;
  }
}

.player-controls-area:hover {
  //background-color: #2dc578;
}

.playing {
  background: image-url('pause-icon.png') no-repeat !important;
}

.playing:hover {
  //background-color: red !important;
}

// Tracks

.track-list {
  background-color: #FFF;
  h1 {
    padding: 0 24px 24px 24px;
    border-bottom: 1px #eee solid;
  }
}

.tracks {
  margin: 0px;
  padding: 0px;
  img {
    vertical-align: -140%;
    padding-right: 12px;
  }
  a {
    padding: 6px 12px;
  }
}

// Navigation

.navigation {
  background-color: #f2f2f2;
  a {
    padding: 14px;
    margin-top: -30px;
    display: inline-block;
  }
  a:hover {
    background-color: #e6e6e6;
  }
  h1 {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #999;
    font-weight: 100;
    letter-spacing: 0.1em;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

.playlist-item {
  padding-top: 15px;

  &:hover {
    a { color: white }
    background-color: #3092d6;
  }

  .playlist-name {
    margin-left: 12px;
    padding-bottom: 0;
  }
}


.playlist-link {
  padding: 0;
}

.album-list-item {
  display: block;
  clear: both;
  cursor: pointer;

  .button, .handle {
    float: right;
    width: 10%;
    padding: 0;
    background-color: #aaa;
    .add, .remove { display: block; margin-top: 6px; }

    &:hover {
      color: white;
      background-color: #70b9f4;
    }
  }

  .album-meta + .button {
    .add, .remove { margin: 18px 0 27px }
  }

  &:hover > .button {
    color: white;
    background-color: #70b9f4;
  }

  &:hover > .album-meta {
    color: white;
    background-color: #3092d6;
  }

  .album-meta {
    float: left;
    width: 90%;
    height: 64px;
    .album-name {
      max-width: 285px;
      padding-left: 5px;
      display: inline-block;
    }
  }

  .track-meta {
    height: 36px;
    clear: both;

    .track-name {
      padding: 8px 0px;
      display: inline-block;
      margin-left: 10px;
      max-width: 330px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      color: white;
      background-color: #3092d6;

      .button {
        color: white;
        background-color: #70b9f4;
      }
    }
  }
}

.loading {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
