<!DOCTYPE html>
<html>
<head>
  <title>Rdio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "rdio" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-view="PlayerView"></div>

<div data-yield="main"></div>

</body>
</html>
